@page
@model IndexModel
@{
    ViewData["Title"] = "Board Of Directors";
}

@{
    Layout = "_Layout";
}

<style>
    /*body{
                                                        overflow:hidden;
                                                    }*/
    .col-xs-11, col-sm-10 {
        min-height: 95vh;
    }
</style>

<div class="text-center">
    <h3 class="display-5" style="padding-top:20px;">ΜΕΛΗ ΔΙΟΙΚΗΤΙΚΟΥ ΣΥΜΒΟΥΛΙΟΥ ΠΕΡΙΟΔΟΥ 2023-2024</h3>
</div>

<div class="container-fluid pt-3 text-center">
    <div class="col-12">

        <div style="display: inherit;" class="row">
            <h4>Πρόεδρος</h4>
        </div>
        <div style="display: inherit;" class="row">
            <h5>Γ. Κοχιαδάκης</h5>
        </div>

        <div style="display: inherit;" class="row">
            <h4>Αντιπρόεδρος</h4>
        </div>
        <div style="display: inherit;" class="row">
            <h5>Κ. Τούτουζας</h5>
        </div>
        <div style="display: inherit;" class="row">
            <h4>Τέως Πρόεδρος</h4>
            <div style="display: inherit;" class="row">
                <h5>I. Kανακάκης</h5>
            </div>
            <div style="display: inherit;" class="row">
                <h4>Γενικός Γραμματέας</h4>
            </div>
            <div style="display: inherit;" class="row">
                <h5>Σ. Σιδερής</h5>
            </div>
            <div style="display: inherit;" class="row">
                <h4>Ταμίας</h4>
            </div>
            <div style="display: inherit;" class="row">
                <h5>Ν. Καυκάς</h5>
            </div>
            <div style="display: inherit;" class="row">
                <h4>Σύμβουλοι</h4>
            </div>
            <div style="display: inherit;" class="row">
                <h5>Α.Δ. Μαυρογιάννη</h5>
            </div>
            <div style="display: inherit;" class="row">
                <h5>Ν. Πατσουράκος</h5>
            </div>
            <div style="display: inherit;" class="row">
                <h5>Κ. Παπαδόπουλος</h5>
            </div>
            <div style="display: inherit;" class="row">
                <h5>Α. Στεφανίδης</h5>
            </div>
        </div>
    </div>
    <div style="display: inherit;" class="row">
        <h4>Εκπρόσωπος Ειδικευομένων</h4>
    </div>
    <div style="display: inherit;" class="row">
        <h5>Ι. Καχριμανίδης</h5>
    </div>
</div>
