@page
@model IndexModel
@{
    ViewData["Title"] = "Chat page";
}

@{
    Layout = "_Layout_Mod";
}

<style>
    body {
        overflow: hidden;
    }

.iframe-container {
    width: 100%;
    overflow: hidden;
}

/*.iframe-responsive {
    position: absolute;
    top: 120px;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}*/
.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

</style>
    

       
<div class="iframe-container">
        <iframe class="iframe-responsive" src="https://sign.letscongress.eu/moderator/7f2c2767-8a7b-4d2a-b067-5c649e1db68e" frameborder="0"></iframe>
    </div>
