@page
@model IndexModel
@{
    ViewData["Title"] = "Livestream";
}

@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

</style>
<div class="iframe-container">
    <iframe class="iframe-responsive" src="https://conf.letscongress.eu/home/1498" allow="fullscreen" frameborder="0"></iframe>
</div>


