@page
@model IndexModel
@{
    ViewData["Title"] = "Live Video Help";
}

@{
    Layout = "_Layout";
}

<style>
        /*body{
            overflow:hidden;
        }*/
        .col-xs-11,col-sm-10{
            min-height: 95vh;
        }
    </style>

<div class="text-center">
    <h1 class="display-2" style="padding-top:20px;">Live Video Help</h1>
    </div>

    <div class="container-fluid pt-3">


        <div class="row">
            <h5>How do I see the video?</h5>
        </div>
        <div class="row">
            <p>Once you log in to the main stage the live video should start automatically. If not, then click on the video window and the livestream will start.</p>
        </div>

        <div class="row">
            <h5>What controls can I use?</h5>
        </div>
        <div class="row">
            <p>You can play or pause the video by clicking the controls on your left of the player screen. On your right you can adjust the sound volume, the livestream resolution and the size of the player (fullscreen option).</p>
        </div>


        <div class="row">
            <h5>The windows opens but I cannot see or hear the video?</h5>
        </div>
        <div class="row">
            <p>Please make sure that the audio bar from the player, located down right is at the highest level (should be blue) and also you have connected speakers and are turned on. Also, make sure that the audio from your computer is not muted.</p>
        </div>

        <div class="row">
            <h5>If you continue having problems please contact our team at:</h5>
        </div>
        <div class="row">
            <p>
                Tel: <a href="tel:2102208236">+30 210 2208 236</a>
                e-mail: <a href="mailto:support@liveonair.gr">support@liveonair.gr</a>
            </p>
        </div>

        @*<iframe style="width:100%; height:650px;" frameborder="0" src="https://chmanthos.speedtestcustom.com"></iframe>*@

    </div>
