@page
@model IndexModel
@{
    ViewData["Title"] = "Moderator";
}

@{
    Layout = "_Layout_Mod";
}

@*<style>
        body{
            overflow:hidden;
        }
    </style>*@
    
    <table style="height:85vh;width:100%;">
        <tr>
            <td class="align-middle">
                <div class="text-center">
                    
                    <h3 class="display-1">Moderator</h3>
                 <img class="card-img logo-style" style="max-width:720px; padding-bottom:10px; margin-top:0px;" src="~/image s/welcome/banner.jpg"/>

                   @* <h4 style="margin:5px;">
                        Επιστημονική Εκδήλωση για την Ημικρανία και την Πολλαπλή Σκλήρυνση
                    </h4>*@

                    @*<p class="text-left">
                            Thanks to a significant experience in scientific and professional meetings we are able to genuinely understand the needs of the congress secretariat, organizing committee and participants and offer high standard solutions and innovative ideas that will make your event not just run smoothly and professionally but also stand out from the rest.
                        </p>
                        <p class="text-left font-weight-bold">
                            Vidalis Errikos Nikolaos, Partner VDL Audiovisual
                        </p>*@
                </div>
            </td>
        </tr>
    </table>
