@page
@model IndexModel
@{
    ViewData["Title"] = "Program";
}

@{
    Layout = "_Layout";
}


<style>
    body {
        overflow: hidden;
    }

</style>
<div class="iframe-container">
    <iframe class="iframe-responsive" src="https://conf.letscongress.eu/program/1498" frameborder="0"></iframe>
</div>