@page
@model IndexModel
@{
    ViewData["Title"] = "Satellites";
}
@{
    Layout = "_Layout";
}

<style>

    body {
        overflow: scroll;
    }

    .col-xs-11, col-sm-10 {
        min-height: 95vh;
    }


    * {
        box-sizing: border-box
    }

    /* Style tab links */
    .tablink {
        background-color: #555;
        color: white;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 33.33%;
    }

        .tablink:hover {
            background-color: #777;
        }

    /* Style the tab content (and add height:100% for full page content) */
    .tabcontent {
        color: black;
        display: none;
        padding: 100px 20px;
        height: 100%;
    }

    /*#Thursday {
                        background-color: red;
                    }

                    #News {
                        background-color: green;
                    }

                    #Contact {
                        background-color: blue;
                    }

                    #About {
                        background-color: orange;
                    }*/
</style>

<button class="tablink" onclick="openPage('Thursday', this, 'rgb(125, 205, 248)')" id="defaultOpen">Thursday</button>
<button class="tablink" onclick="openPage('Friday', this, 'rgb(154, 199, 145)')">Friday</button>
<button class="tablink" onclick="openPage('Saturday', this, 'rgb(182, 136, 115)')">Saturday</button>


<div id="Thursday" class="tabcontent">

    <div style="padding-top:10px;" class="container-fluid">
        <div class="row">

            <div class="col-sm-6">
                <div class="container">

                    <div style="padding:25px 0 25px 0" class="col-sm">
                        <div class="row">
                            <div style="padding:15px 0 15px 0;" class="col"><a href="./satellite/abbott"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/abbott-logo.png" /></a></div>
                            <div class="col-12 center-block text-center">
                                <h5>ABBOTT</h5>
                            </div>
                        </div>
                    </div>

                    <div style="padding:25px 0 25px 0" class="col-sm">
                        <div class="row">
                            <div style="padding:15px 0 15px 0;" class="col"><a href="./satellite/sanofi"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.digitaloceanspaces.com/Logo/SANOFI.jpg" /></a></div>
                            <div class="col-12 center-block text-center">
                                <h5>SANOFI</h5>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-sm-6">
                <div class="container">

                    <div style="padding:25px 0 25px 0;" class="col-sm">
                        <div class="row">
                            <div style="padding:15px 0 15px 0;" class="col"><a href="./satellite/chiesi"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/CHIESI.png" /></a></div>
                            <div class="col-12 center-block text-center">
                                <h5>CHIESI HELLAS</h5>
                            </div>
                        </div>
                    </div>

                    <div style="padding:25px 0 25px 0;" class="col-sm">
                        <div class="row">
                            <div style="padding:15px 0 15px 0;" class="col"><a href="./satellite/zerono"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ZERONO.png" /></a></div>
                            <div class="col-12 center-block text-center">
                                <h5>ZERONO</h5>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div id="Friday" class="tabcontent">
    <h3>Being Developed</h3>
</div>

<div id="Saturday" class="tabcontent">
    <h3>Being Developed</h3>
</div>


<script>
    function openPage(pageName, elmnt, color) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablink");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].style.backgroundColor = "";
        }
        document.getElementById(pageName).style.display = "block";
        elmnt.style.backgroundColor = color;
    }

    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>
