@page
@model IndexModel
@{
    ViewData["Title"] = "Speaker";
}

@{
    Layout = "_Layout";
}
<div class="text-center">
    <img class="card-img" style="width:180px; padding-top:1%;" src="https://vdlappstorage.blob.core.windows.net/platform-files/ens2021/ens-cv.jpg"/>
    <h1 class="display-5" style="padding-top:20px;">Prof. Berthold V. Koletzko</h1>
    </div>

   <div style="padding-left:12%; padding-right:12%">

        <div class="text-center"> 
       <p><b>Prof. Berthold V. Koletzko
Else Köner-Seniorprofessor of Paediatrics, Professor h.c., 
Dr. med., Dr. med. habil. (MD PhD), Dr. h.c. mult.</b></p>  </div>
<p class="text-justify">Bert is Else Kröner-Seniorprofessor of Paediatrics at LMU - Ludwig-Maximilians-University Munich, Dept. Paediatrics, Dr. von Hauner Children’s Hospital, LMU University Hospitals, Munich, Germany. He was trained in paediatrics at Baragwanath Hospital, Johannesburg-Soweto, South Africa; Kilimanjaro Christian Medical Center, Moshi, Tanzania; and the Children’s Hospitals of the Universities of Düsseldorf, Germany and Toronto, Canada. A focus of his work is on metabolic and nutritional modulators of child health and disease prevention.  Bert is author of 1120 scientific journal articles (Web of Science H-index 90, 31,979 citations), 246 book chapters, and 45 books/monographies. His research funding exceeded 20 Mio.€ during the last decade and was provided by the European Union (EU) Framework Research Programmes, EU Research Council, EU Erasmus+ Programmes, EU Joint Programming Initiative, German Research Council, German Federal Ministry Education & Research, German Ministry of Health, Alexander von Humboldt Foundation, US National Institutes of Health, German Academic Exchange Service, Else Kröner Fresenius Foundation, Family Larsson Rosenquist Foundation, and other funding bodies. Bert was rated “World Expert” in research on Breast Milk and Milk (higher than top 0.01 % researchers worldwide based on publications in the last decade, Expertscape 2021) and the world’s top rated in the areas “infant nutritional physiological phenomena”, “child nutritional physiological phenomena” and “child nutrition science”.</p>
<p class="text-justify">Bert is President, Int Soc Res Human Milk & Lactation; Strategic Advisor on Nutrition and Standing Committee Member, Int Pediatric Association; Chair, Secondary-Tertiary Care Council and Executive Committee Member, European Academy of Paediatrics; Chair, Committee Nutrition, German Society Pediatrics; Board of Directors Member, Biomedical Alliance in Europe, and Treasurer, United European Gastroenterology. He served as member of the grant review board medicine, German Research Council (Deutsche Forschungsgemeinschaft), and as chair and deputy chair of their Clinical Trial grant review board. He is Past President of Federation Int Soc of Paediatr Gastroenterol, Hepatol & Nutrition (FISPGHAN) and of European Soc of Paediatr Gastroenterol, Hepatol & Nutrition (ESPGHAN). Bert is Editor in Chief of Ann Nutrition & Metabolism and of World Rev Nutrition & Dietetics, and Associate Editor of Curr Opin Clin Nutr Metabol Care and Monatsschrift Kinderheilkunde. He has been acting as Scientific Advisor to the German Federal Government, the Innovation Initiative of the Chancellor of the Federal Republic of Germany, the European Commission, the European Parliament, the World Health Organisation, the Food and Agriculture Organisation of the United Nations, and other national and international governmental bodies and organisations.</p>
</div>