@page
@model IndexModel
@{
    ViewData["Title"] = "Speakers";
}

@{
    Layout = "_Layout";
}

<style>

    body {
        overflow: hidden;
    }
 
</style>

<div class="iframe-container">
    <iframe class="iframe-responsive" src="https://conf.letscongress.eu/speakerindex/1498" frameborder="0"></iframe>
</div>
<h5 class="bot-place">Τα ονόματα παρουσιάζονται με αλφαβητική σειρά
</h5>