@page
@model IndexModel
@{
    ViewData["Title"] = "Sponsors";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

    .col-xs-11,col-sm-10{
           min-height: 95vh;
        }
        
    
</style>

<div style="padding-top:20px;" class="row pb-lg-6">

    <div class="col"><a href="https://www.elval-colour.com/el/home" target="_blank"><img class ="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/elval.png" /></a></div>
    <div class="col"><a href="https://www.elval-colour.com/el/home" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/metallemporiki-makris.png" /></a></div>
    <div class="col"><a href="http://www.dimand.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/dimand.png" /></a></div>
    <div class="col"><a href="https://fibran.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/fibran.png" /></a></div>
    <div class="col"><a href="https://ilicon.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/ilicon.png" /></a></div>
    <div class="col"><a href="http://www.isoren.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/isoren-logo.png" /></a></div>
    <div class="col"><a href="https://www.knaufinsulation.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/knaufinsul.png" /></a></div>
    <div class="col"><a href="https://www.motpanels.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/mot.png" /></a></div>
    <div class="col"><a href="https://noval-property.com/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/noval-property.png" /></a></div>
    <div class="col"><a href="https://e-safedoor.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/safedoor.png" /></a></div>
    <div class="col"><a href="https://grc.sika.com/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/sika.png" /></a></div>
    <div class="col"><a href="https://www.viatec.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/viatec.png" /></a></div>
    <div class="col"><a href="https://zarifopoulos.com/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/zarifopoulos.png" /></a></div>
    <div class="col"><a href="https://www.alumil.com/uk/homeowners" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/alumil.png" /></a></div>
    <div class="col"><a href="#" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/dps.png" /></a></div>
    <div class="col"><a href="http://www.elemko.gr/el" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/elemko.png" /></a></div>
    <div class="col"><a href="http://www.evel.gr/?q=company" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/evel-logo.png" /></a></div>
    <div class="col"><a href="https://www.ift-rosenheim.de/home" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/ift-hellas.png" /></a></div>
    <div class="col"><a href="https://www.knauf.gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/knauf.png" /></a></div>
    <div class="col"><a href="https://www.marvon.com/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/marvon.png" /></a></div>
    <div class="col"><a href="https://www.ninz.it/en/home" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/ninz.png" /></a></div>
    <div class="col"><a href="https://www.systemair.com/gr/" target="_blank"><img class="mx-auto d-block rounded sponsor-img spsilv" src="./images/sponsors/systemair.png" /></a></div>
</div>