@page
@model IndexModel
@{
    ViewData["Title"] = "Sponsors";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

    .col-xs-11, col-sm-10 {
        min-height: 95vh;
    }
</style>
<div class="container-flex">

    <div class="row justify-content-center">

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/abbott-logo.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class ="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Amgen.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/astrazeneca-logo.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BAYER.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Bennett.PNG" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BiosenseWebster-Johnson.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Boehringer.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BOSTON.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/CHIESI.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/DEMO-ABEE.JPG" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/edwards.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ELPEN.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/enamed.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/galenica.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/GE.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/IASIS.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/innovis.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/krka.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/LAVIPHARM.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/MEDTRONIC.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/menarini.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo%2Fmsigroup-logo.png" />
            </div>
        </div>
        
        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Pfizer.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/PHILIPS.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Recordati.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/SANOFI.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/SERVIER.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/siemens.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/TFX.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/unipharma.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/velka.jpg" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/vianex.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Viatris.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Winmedica.png" />
            </div>
        </div>

        <div class="sponsor">
            <div class="sponsor-item">
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ZERONO.png" />
            </div>
        </div>


    </div>
</div>
