@page
@model IndexModel
@{
    ViewData["Title"] = "Sponsors";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

    .col-xs-11, col-sm-10 {
        min-height: 95vh;
    }
</style>

<div class="container-fluid">

    <div class="row">

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/abbott-logo.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Amgen.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/astrazeneca-logo.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BAYER.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Bennett.PNG" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BiosenseWebster-Johnson.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Boehringer.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BOSTON.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/CHIESI.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/DEMO-ABEE.JPG" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/edwards.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ELPEN.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/enamed.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/galenica.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/GE.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/IASIS.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/innovis.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/krka.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/LAVIPHARM.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/MEDTRONIC.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/menarini.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Pfizer.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/PHILIPS.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Recordati.jpg" />
            </a>
        </div>

                <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/SANOFI.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/SERVIER.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/siemens.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/TFX.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/unipharma.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/velka.jpg" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/vianex.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Viatris.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Winmedica.png" />
            </a>
        </div>

        <div class="sponsor">
            <a>
                <img src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ZERONO.png" />
            </a>
        </div>


    </div>
</div>