@page
@model IndexModel
@{
    ViewData["Title"] = "Sponsors";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

    .col-xs-11,col-sm-10{
           min-height: 95vh;
        }
            
</style>

<div style="padding:20px 10px 0 10px;" class="row">
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/abbott-logo.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Amgen.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/astrazeneca-logo.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BAYER.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Bennett.PNG" /></div>
</div>
<div style="padding:20px 10px 0 10px;" class="row">
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BiosenseWebster-Johnson.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Boehringer.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/BOSTON.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/CHIESI.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/DEMO-ABEE.JPG" /></div>
</div>
<div style="padding:20px 10px 0 10px;" class="row">
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/edwards.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ELPEN.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/enamed.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/galenica.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/GE.jpg" /></div>
</div>
<div style="padding:20px 10px 0 10px;" class="row">
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/IASIS.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/innovis.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/krka.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/LAVIPHARM.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/MEDTRONIC.jpg" /></div>
</div>
<div style="padding:20px 10px 0 10px;" class="row">
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/menarini.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Pfizer.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/PHILIPS.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/rafarm.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Recordati.jpg" /></div>
</div>
<div style="padding:20px 10px 0 10px;" class="row">
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/SANOFI.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/SERVIER.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/siemens.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/TFX.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/unipharma.jpg" /></div>
</div>
<div style="padding:20px 10px 10px 10px;" class="row">
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/velka.jpg" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ΒΙΑΝΕΞ Α.Ε..png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Viatris.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Winmedica.png" /></div>
    <div class="col"><img class="mx-auto d-block rounded sponsor-img spsilv" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ZERONO.png" /></div>
</div>
