<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Omades Egrasias 2023</title>
    <link rel="shortcut icon" type="image/png" href="./images/hcs_logo.jpg" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/custom.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/inred.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-1 col-sm-2 bg-menu">
                <nav class="navbar-nav navbar-expand-lg bg-menu flex-column">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="fa fa-bars mob-button"></span>
                    </button>
                    <div class="collapse navbar-collapse pt-lg-3" id="mainmenu" style="margin:auto">

                        <ul class="navbar-nav flex-md-column mr-auto text-left font-weight-bold">
                            <li class="nav-item pb-lg-2">
                                <img class="card-img item-logo" style="background-color: white;" src="~/images/hcs_logo-wide-dark.png" />
                            </li>
                            <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/Welcome">Home</a>
                            </li>
                            <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/Register">Registration</a>
                            </li>
                            <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/Livestream">Live Stream</a>
                            </li>
                            <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/Program">Program</a>
                            </li>
                            <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/Speakers">Speakers Index</a>
                            </li>
                                                        <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/Sponsors">Sponsors</a>
                            </li>
                            <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/Satellites">Satellite Courses</a>
                            </li>
                            <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/EhraSession">EHRA Session</a>
                            </li>
                                                       <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/boardofdirectors">Board Of Directors</a>
                            </li>
                            <li class="nav-item item-menu">
                                <a class="nav-link text-light" asp-area="" asp-page="/Livevideohelp">Live Video Help</a>
                            </li>

                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-xs-11 col-sm-10" @*style="min-height:94vh;"*@>
                <main role="main" class="pb-3">
                    
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted shadow-foot" style="position:absolute; bottom:0;">
        <div class="container">
            &copy; <a href="https://vdl.gr" target="_blank">VDL Productions</a> - 2023 - Liveonair - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
   

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
