@page
@model IndexModel
@{
    ViewData["Title"] = "Boehringer" +
        "";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

    .col-xs-11,col-sm-10{
           min-height: 95vh;
        }

    
</style>

<div style="padding-top:10px;" class="container-fluid">
    <div class="row">
        <div style="padding-bottom:10px;" class="col-12 center-block text-center">
            <h4>ΑΙΘΟΥΣΑ ΜΑΪΣΤΡΟΣ Α’/ ΟΜΑΔΑ ΕΡΓΑΣΙΑΣ ΗΧΩΚΑΡΔΙΟΛΟΓΙΑΣ</h4>
        </div>
        <div class="col-sm-3">
            <div style="padding:15px 0 15px 0;" class="col"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Boehringer.jpg" /></div>
            <div class="center-block text-center">
                <h5>11.30–12.30 Δορυφορική Διάλεξη </h5>
            </div>
            <div class="row">
                <h7>SGLT2is: Νέα εποχή στη διαχείριση των ασθενών με Καρδιακή Ανεπάρκεια</h7>
            </div>
            <div class="row">
                <h7>Πρόεδροι: <b>Χ. Βλαχόπουλος</b> (Αθήνα), <b>Γ. Κοχιαδάκης</b> (Ηράκλειο)</h7>
            </div>
            <div class="row">
                <h7>SGLT2is στην κλινική πράξη.  Έναρξη θεραπείας Καρδιακής Ανεπάρκειας στο νοσοκομείο – <b>Γρ. Γιαμούζης</b> (Αθήνα)</h7>
            </div>
            <div class="row">
                <h7>Η πρόκληση της Καρδιακή Ανεπάρκειας σήμερα: Πόσο καλά γνωρίζουμε την HFpEF και πώς την διαχειριζόμαστε; – <b>Κ. Νάκα</b> (Ιωάννινα)</h7>
            </div>
            <div class="row">
                <h7>SGLT2is: Ο βασικός πυλώνας στη θεραπεία Καρδιακή Ανεπάρκειας ανεξάρτητα του κλάσματος εξωθήσεως. Τι περιμένουμε στο μέλλον; – <b>Δ. Φαρμάκης</b> (Αθήνα)</h7>
            </div>
        </div>
        <div class="col-sm-9">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://youtube.com/embed/opkGJDnyYOs" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
        </div>
    </div>
</div>