@page
@model IndexModel
@{
    ViewData["Title"] = "Pfizer" +
        "";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

    .col-xs-11,col-sm-10{
           min-height: 95vh;
        }

    
</style>

<div style="padding-top:10px;" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="container">

                <div style="padding:25px 0 25px 0;" class="col-sm">
                    <div class="row">
                        <div class="col-12 center-block text-center">
                            <h5>ΠΑΡΑΣΚΕΥΗ 17 ΦΕΒΡΟΥΑΡΙΟΥ 2023 <br>ΑΙΘΟΥΣΑ ΜΑΪΣΤΡΟΣ / Α’ ΟΜΑΔΑ ΕΡΓΑΣΙΑΣ  ΑΡΤΗΡΙΑΚΗΣ ΥΠΕΡΤΑΣΗΣ</h5>
                            <div class="row">
                                <div class="col-12 center-block text-center">
                                    <h6>11.30–12.30 Δορυφορική Διάλεξη</h6>
                                </div>
                            </div>
                        </div>
                        <div style="padding:15px 0 15px 0;" class="col"><a href="./pfizerfriday"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Pfizer.jpg" /></a></div>

                    </div>

                    <div style="padding:25px 0 25px 0;" class="col-sm">
                        <div class="row">
                            <div class="col-12 center-block text-center">
                                <h5>ΣΑΒΒΑΤΟ 18 ΦΕΒΡΟΥΑΡΙΟΥ 2023<br>ΑΙΘΟΥΣΑ ΖΕΦΥΡΟΣ / ΟΜΑΔΑ ΕΡΓΑΣΙΑΣ ΜΥΟΚΑΡΔΙΟΠΑΘΕΙΩΝ, ΒΑΣΙΚΗΣ ΕΡΕΥΝΑΣ ΚΑΙ ΚΛΗΡΟΝΟΜΙΚΩΝ ΠΑΘΗΣΕΩΝ</h5>
                                <div class="row">
                                    <div class="col-12 center-block text-center">
                                        <h6>18.00–19.00 Δορυφορική Διάλεξη</h6>
                                    </div>
                                </div>
                            </div>
                            <div style="padding:15px 0 15px 0;" class="col"><a href="./pfizersaturday"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/Pfizer.jpg" /></a></div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>