@page
@model IndexModel
@{
    ViewData["Title"] = "SanofiThursday" +
        "";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

    .col-xs-11, col-sm-10 {
        min-height: 95vh;
    }

</style>

<div style="padding-top:10px;" class="container-fluid">
    <div class="row">
        <div style="padding-bottom:10px;" class="col-12 center-block text-center">
            <h4>ΑΙΘΟΥΣΑ ΜΑΪΣΤΡΟΣ Β’ / ΟΜΑΔΑ ΕΡΓΑΣΙΑΣ ΗΛΕΚΤΡΟΦΥΣΙΟΛΟΓΙΑΣ</h4>
        </div>
        <div class="col-sm-3">
            <div style="padding:15px 0 15px 0;" class="col"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.digitaloceanspaces.com/Logo/SANOFI.jpg" /></div>
            <div class="center-block text-center">
                <h5>13.30–14.00 Δορυφορική Διάλεξη </h5>
            </div>
            <div class="row">
                <h7>Αντιαιμοπεταλική διαχείριση ασθενών υψηλού κινδύνου</h7>
            </div>
            <div class="row">
                <h7>Πρόεδρος: <b>Κ. Τούτουζας</b> (Αθήνα)</h7>
            </div>
            <div class="row">
                <h7>
                    Εισαγωγή<br /> Νεότερες εξελίξεις στη διαχείριση της αντιαιμοπεταλιακής αγωγής και διάρκεια θεραπείας –
                    <b>Ι. Τσιαφούτης</b> (Αθήνα)<br />Παρουσίαση σχετικού κλινικού περιστατικού<br />Q&A- Συμπεράσματα
                </h7>
            </div>
        </div>
        <div class="col-sm-9">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://youtube.com/embed/we8WRzJuKwg" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
        </div>
    </div>
</div>