@page
@model IndexModel
@{
    ViewData["Title"] = "Zerono" +
        "";
}
@{
    Layout = "_Layout";
}

<style>
    body {
        overflow: scroll;
    }

    .col-xs-11, col-sm-10 {
        min-height: 95vh;
    }

</style>

<div style="padding-top:10px;" class="container-fluid">
    <div class="row">
        <div style="padding-bottom:10px;" class="col-12 center-block text-center">
            <h4>ΑΙΘΟΥΣΑ  ΜΑΪΣΤΡΟΣ Α’ / ΟΜΑΔΑ ΕΡΓΑΣΙΑΣ ΑΙΜΟΔΥΝΑΜΙΚΗΣ ΚΑΙ ΕΠΕΜΒΑΤΙΚΗΣ ΚΑΡΔΙΟΛΟΓΙΑΣ</h4>
        </div>
        <div class="col-sm-3">
            <div style="padding:15px 0 15px 0;" class="col"><img class="mx-auto d-block rounded satellite-img" src="https://liveonair.fra1.cdn.digitaloceanspaces.com/Logo/ZERONO.png" /></div>
            <div class="center-block text-center">
                <h5>20.00–20.30 Δορυφορική Διάλεξη </h5>
            </div>
            <div class="row">
            <h7>Μεγάλη ποσότητα θρόμβου στα στεφανιαία αγγεία, ένας διαχρονικός εφιάλτης στο εργαστήριο. Πρώτα δεδομένα από την χρήση νέας συσκευής θρομβεκτομής </h7>
            </div>
            <div class="row">
                <h7>Πρόεδρος: <b>Γ. Κοχιαδάκης</b> (Αθήνα)</h7>
            </div>
            <div class="row">
                <h7>Ομιλητής: <b>Γ. Τριάντης</b> (Αθήνα)</h7>

            </div>
        </div>
        <div class="col-sm-9">
            <div style="padding:56.25% 0 0 0;position:relative;"><iframe src="https://youtube.com/embed/g5_c5ayfBzE" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe></div>
        </div>
    </div>
</div>